{% extends 'root/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{%  static 'assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block title %}
  {% if object %}Editar{% else %}Agregar{% endif %} deportista{% endblock %}
{% block page %}
  {% if object %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list-deportista' %}">Lista de deportistas</a></li>
  {% endif %}
  <li class="breadcrumb-item active" aria-current="page">{% if object %}Editar{% else %}Agregar{% endif %} deportista</li>
{% endblock %}
{% block content %}
  <div class="card h-100">
    <form class="form-horizontal" method="post">
      {% csrf_token %}
      <div class="card-body">
        <h4 class="card-title">Información del deportista</h4>
        <div class="row">
          <div class="col-md-4 py-3">
            <input class="d-none" type="file" name="foto" accept="image/*" id="id_foto" onchange="readURL(this);">
            <label for="id_foto">
              <div class="border border-secondary">
                <img id="display_img" src="{% get_media_prefix %}default/default_user.png" class="img-fluid">
              </div>
            </label>
          </div>
          <div class="col-md-8">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_nombres">Nombres:</label>
                <input type="text" class="form-control" name="nombres" maxlength="45" placeholder="Nombres"  id="id_nombres" required
                    {% if object %}
                       value="{{ object.nombres }}"
                    {% endif %}>
              </div>
              <div class="form-group col-md-6">
                <label for="id_apellidos">Apellidos:</label>
                <input type="text" class="form-control" name="apellidos" maxlength="45" placeholder="Apellidos" id="id_apellidos" required
                    {% if object %}
                       value="{{ object.apellidos }}"
                    {% endif %}>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_fecha_nacimiento">Fecha nacimiento:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="id_fecha_nacimiento" placeholder="mm/dd/yyyy"  name="fecha_nacimiento" autocomplete="off" required
                      {% if object %}
                         value="{{ object.fecha_nacimiento|date:'m/d/Y' }}"
                      {% endif %}>
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="id_sexo">Sexo:</label>
                <select class="form-control" name="sexo" id="id_sexo" required>
                  {% for option in form.fields.sexo.choices %}
                    {% if not forloop.first %}
                      <option value="{{ option.0 }}"
                          {% if object and option.0 == object.sexo %}
                              selected
                          {% endif %}
                      >{{ option.1 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_deporte">
                  Deporte: ( <i class="fas fa-plus text-success" data-toggle="modal" data-target="#deporteModal"></i> )
                </label>
                <select class="form-control" name="deporte" id="id_deporte" required>
                  <option value="" selected="">---------</option>
                  {% for option in form.fields.deporte.choices.queryset %}
                    <option value="{{ option.pk }}"
                        {% if object and option == object.deporte %}
                            selected
                        {% endif %}
                    >{{ option.deporte }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="id_asociacion">
                  Asociacion: ( <i class="fas fa-plus text-success" data-toggle="modal" data-target="#asociacionModal"></i> )
                </label>
                <select class="form-control" name="asociacion" id="id_asociacion" required>
                  <option value="" selected="">---------</option>
                  {% for option in form.fields.asociacion.choices.queryset %}
                    <option value="{{ option.pk }}"
                        {% if object and option == object.asociacion %}
                            selected
                        {% endif %}
                    >{{ option.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="id_informacion_extra">Informacion extra:</label>
          <textarea class="form-control" name="informacion_extra" id="id_informacion_extra">{% if object %}{{ object.informacion_extra }}{% endif %}</textarea>
        </div>
        <div class="border-top py-2">
            <button type="submit" class="btn btn-success">Agregar</button>
            <button onclick="window.history.back();" class="btn btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  {% include 'includes/add_deporte.html' %}
  {% include 'includes/add_asociacion.html' %}

{% endblock %}

{% block extra_js %}
  <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>

  <script>
      /*datwpicker*/
      jQuery('#id_fecha_nacimiento').datepicker({
          autoclose: true,
          todayHighlight: true,
          orientation: "bottom"
      });

      /*load image */
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('#display_img')
                      .attr('src', e.target.result)
              };
              reader.readAsDataURL(input.files[0]);
          }
      }
  </script>
{% endblock %}
