{% extends 'root/base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Lista de deportistas{% endblock %}
{% block page %}
  <li class="breadcrumb-item active" aria-current="page">Lista de deportistas</li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <form method="get">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-6 form-inline">
            <label for="id_ordering">Ordenar por:</label>
            <select name="ordering" class="form-control form-control-sm mx-2" id="id_ordering">
              <option value="nombres">Nombres</option>
              <option value="apellidos">Apellidos</option>
              <option value="fecha_nacimiento">Edad</option>
              <option value="deporte">Deporte</option>
              <option value="asociacion">Asociacion</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-6 form-inline">
            <label>Buscar:</label>
            <input type="search" class="form-control form-control-sm ml-2 mr-0" name="search">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table id="zero_config" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Deporte</th>
            <th>Asociacion</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          {% for deportista in object_list %}
            <tr data-url="{% url 'detail-deportista' deportista.id  %}" class="cursor-pointer">
              <td>{{ forloop.counter }}</td>
              <td>{{ deportista.nombres|capfirst }}</td>
              <td>{{ deportista.apellidos|capfirst }}</td>
              <td>{{ deportista.get_age }}</td>
              <td>{{ deportista.deporte|capfirst }}</td>
              <td>{{ deportista.asociacion|capfirst }}</td>
              <td class="text-center">
                <a class="btn btn-warning btn-sm" href="{% url 'add-medida' deportista.pk %}"><i class="fas fa-weight"></i></a>
                <a class="btn btn-primary btn-sm" href="{% url 'edit-deportista' pk=deportista.pk %}"><i class="fas fa-pencil-alt"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
      $(function () {
          $('table.table tr').click(function () {
              window.location.href = $(this).data('url')
          });
      })
  </script>
{% endblock %}