{% extends 'root/base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Lista de deportes{% endblock %}
{% block page %}
  <li class="breadcrumb-item active" aria-current="page">Lista de deportes</li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <form method="get">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-6 form-inline">
            <label>Buscar:</label>
            <input type="search" class="form-control form-control-sm ml-2 mr-0" name="search">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
            <i class="fas fa-plus text-success mx-3 cursor-pointer" data-toggle="modal" data-target="#deporteModal"
               data-url="{% url 'add-deporte' %}"></i>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table id="zero_config" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="font-weight-bold">#</th>
            <th class="font-weight-bold">Deporte</th>
            <th class="font-weight-bold">Número de deportistas</th>
            <th class="font-weight-bold">Opciones</th>
          </tr>
          </thead>
          <tbody>
          {% for deporte in object_list %}
            <tr data-url="{% url 'detail-deporte' deporte.id  %}" class="cursor-pointer">
              <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
              <td>{{ deporte|capfirst }}</td>
              <td>{{ deporte.number_of_deportista }}</td>
              <td class="text-center options">
                <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#deporteModal"
                   data-url="{% url 'edit-deporte' deporte.pk %}" data-deporte="{{ deporte }}"><i class="fas fa-pencil-alt"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% if is_paginated %}
        <div class="pagination row my-3">
          <div class="col text-center">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a class="mx-2" href="?page={{ page_obj.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">Anterior</a>
                  {% endif %}
                <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                  </span>
                {% if page_obj.has_next %}
                  <a class="mx-2" href="?page={{ page_obj.next_page_number }}{% if search %}&search={{ search }}{% endif %}">Siguiente</a>
                {% endif %}
              </span>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% include 'includes/add_deporte.html' %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
  <script>
      /* Set data in modal */
      let modal_deporte = $('#deporteModal');
      modal_deporte.on('show.bs.modal', function (event) {
          let form = modal_deporte.find('form');
          let button = $(event.relatedTarget);
          let url = button.data('url');
          form.attr('action', url);
          if (button.data('deporte')){
              form.find('#id_deporte').val(button.data('deporte'));
              modal_deporte.find('#title-modal').text('Editar')
          }
      });
      modal_deporte.on('hide.bs.modal', function (event) {
          let form = modal_deporte.find('form');
          form.trigger('reset');
          modal_deporte.find('#title-modal').text('Agregar')
      });

      /* Smart table   */
      $('#zero_config').DataTable({
          searching: false,
          paging: false,
          info: false
      });
  </script>
  <script src="{% static 'js/general.js' %}"></script>
{% endblock %}