{% extends 'root/base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'css/general.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Lista de asociaciones{% endblock %}
{% block page %}
  <li class="breadcrumb-item active" aria-current="page">Lista de asociaciones</li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <form method="get">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-6 form-inline">
            <label>Buscar:</label>
            <input type="search" class="form-control form-control-sm ml-2 mr-0" name="search">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
            <i class="fas fa-plus text-success mx-3" data-toggle="modal" data-target="#asociacionModal"></i>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table id="zero_config" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Asociacion</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          {% for asociacion in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ asociacion|capfirst }}</td>
              <td class="text-center">
                <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'includes/add_asociacion.html' %}
{% endblock %}

{% block extra_js %}
{% endblock %}