.cursor-pointer {
    cursor: pointer;
}

table.table tr.cursor-pointer:hover{
    background: #5a6268;
    color: whitesmoke;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.table > tbody > tr > td, .table > thead > tr > th {
     vertical-align: middle;
}